

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.hero-unit{
  /*width: auto;*/
  padding: 0;
}

#map {
    /*width: 100%;*/
    height: 180px;
}

section{
  min-height: 100%;
}


