body {
	background-color: #6AA4A8;
}
h2 {
	font-family: arvo;
	font-weight: 400;
	color: white;
}
h1 {
	font-family: arvo;
	font-weight: 700;
	/*color: white;*/
}
.text-center {
	text-align: center;
}
.width-full {
	width: 100%!important;
}
h3 {
	font-family: arvo;;
	color: white;
	font-weight: 400;
	line-height: 1.2em;
}
.quote {
	font-family: arvo;
	margin-bottom: 1em;
	font-size: 1.2em;
	line-height: 1.2em;
}
.quote:first-child {
	color: red;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a {
	font-family: arvo;
	color: white;
}

.accordion-heading .accordion-toggle {
display: block;
	padding: 10px 0px!important;
}

.accordion-group {
	border: none;
	border-bottom: 2px solid white;
	border-radius: 0px!important;
}
.accordion-inner {
	border: none;
}









