body {
	background-color: #6AA4A8;
	padding-left: 0!important;
	padding-right: 0!important;
	padding-bottom: 0!important;
	
}
.container {
	padding-left: 20px!important;
	padding-right: 20px!important;
}
h2 {
	font-family: arvo;
	font-weight: 400;
	color: white;
}
h1 {
	font-family: arvo;
	font-weight: 700;
	/*color: white;*/
}
.text-center {
	text-align: center;
}
.width-full {
	width: 100%!important;
}
h3 {
	font-family: arvo;;
	color: white;
	font-weight: 400;
	line-height: 1.2em;
}
.quote {
	font-family: arvo;
	margin-bottom: 1em;
	font-size: 1.1em;
	line-height: 1.1em;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
.accordion a {
	font-family: arvo;
	color: #f9f9f9;
	font-weight: 100;
}
#top_tweet {
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.4em;
	color: white;
	background-color: #3D90AC;
}
.accordion-heading .accordion-toggle {
display: block;
	/*padding: 10px 0px!important;*/
}

.accordion-group {
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0px!important;
}
.accordion-inner {
	border: none;
	color: white;
}
.user-info {
	margin-top: 1em;
}
.user-info img {
	float: right;
}
.user-info {
	/*float: left;*/
}
.hero-unit {
	margin-bottom: 0px;
}
.accordion-inner img {
	float: right;
}
#landing img {
	margin-top: 3.2em;
}
#btn-twitter {
	text-shadow:0px -1px 0px rgba(0,0,0,0.5);
	font-family: arvo;
}
.time_text {
	font-size: 0.8em;
	margin-bottom: 0;
	font-family: ubuntu;
	color: #e6e6e6;
}

	





